@model IEnumerable<Proyecto_Inventarios.Models.Inventarios_Generales.Ielectro>

@{
    ViewBag.Title = "Index";
}

<h2>Inventario de electrodomesticos</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Marca
        </th>
        <th>
            Tipo de producto
        </th>
        <th>
            Peso o tamaño
        </th>
        <th>
            Cantidad existente
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.marca)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.tipoproducto)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.pesootamaño)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.cantexistente)
    </td>
    <td>
        @Html.ActionLink("Editar", "Edit", new { id = item.marca }) |
        @Html.ActionLink("Detalles", "Details", new { id = item.marca }) |
        @Html.ActionLink("Eliminar", "Delete", new { id = item.marca })
    </td>
</tr>
}

</table>
<p><a href="/PrimeraClasses/index" class="btn btn-primary btn-lg" style="background-color:#F1C80D">Volver al menu de inventarios &raquo;</a></p>