@model Proyecto_Inventarios.Models.Bodegas_Inventarios.Belectro

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Bodega electrodomesticos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Marca
        </dt>

        <dd>
            @Html.DisplayFor(model => model.marca)
        </dd>
        <dt>
            Tipo producto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoproducto)
        </dd>

        <dt>
            Peso o tamaño
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pesootamaño)
        </dd>

        <dt>
            Cantidad existente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantexistente)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.marca }) |
    @Html.ActionLink("Volver", "Index")
</p>
